.x-body{
	background-color: #EBEBEB;
}
#main-container{
	margin: 0 auto;
	background: #fff;
	width: 995px;
	padding: 40px 88px;
	box-sizing: border-box;
}
.ton-combo-standard, .ton-combo-cls{
	background: salmon;
},
.ton-combo-trigger{
	/*border-size: 3px;,*/
}
.x-form-text-default {
	padding: 9px 20px;
}
.x-form-trigger-wrap{
	border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
}
.x-form-trigger-wrap * {
	background-color: transparent;
}
.x-form-text{
	font-size: 16px;
	color: #58585a;
}
.ton-legend-item {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 13px;
    color: #4a4a4a;
    position: relative;
    padding-left: 16px;
}
.ton-legend-item-marker {
    top: 4px;
    left: 2px;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    display: block;
    float: left;
    border-radius: 10px;
    position: absolute;
}
.x-tip{
	background-color: #fff;
}
.x-tip-body-default{
	font-size: 16px;
	color: #333;
	padding: 15px 20px;
}